.jumbtron {
  text-align: center;
  font-style: italic;
  color: yellow;
  background-color: green;
  background-image:url("download.png") ;
}
.about {
  float: right;
}
.container{
  background-color: black;
}
#form {
  background-color: red;
}
