.jumbtron {
  text-align: center;
  font-style: italic;
  color: yellow;
  background-color: green;
  background-image: url(/home/levy/Documents/moringa-school-projects/marvel/imgs/deadpool-2.jpg);
}
.about {
  float: right;
}
.container{
  background-color: black;
}
