.jumbtron {
  text-align: center;
  font-style: italic;
  color: yellow;
  background-color: green ;
}
.about {
  float: right;
}
.container{
  background-color: black;
  background-image: url("donload.png");
}
#form {
  background-color: red;
}
